experiment: 'SG_exp04_less_embeddings_no_norm'
accelerator: 'gpu'  # (cpu, gpu)
devices: '1'

optimizer:
  _target_: torch.optim.Adam
  lr: 1e-2

max_epochs: 200

scheduler:
  _target_: torch.optim.lr_scheduler.StepLR
  step_size: 80
  gamma: 0.1

loss:
  negative_samples: 3



