defaults:
  - w2v_config

model:
  _target_: shallow_encoders.word2vec.model.SkipGram
  embedding_size: 16
  max_norm: null
  # vocab_size - unknown until dataset is loaded

datamodule:
  dataset_name: 'graph_cora'
  mode: 'sg'
  context_radius: 2
  max_length: 256
  min_word_frequency: 0
  additional_parameters:
    walks_per_node: 16
    walk_length: 10
    # method: deepwalk
    method: node2vec
    method_params:
      p: 1
      q: 2.0

  batch_size: 64
  num_workers: 8

train:
  experiment: 'SG_exp07_embedding16_node2vec_p1x0_q2x0'
  accelerator: 'gpu'  # (cpu, gpu)
  devices: '1'

  optimizer:
    _target_: torch.optim.Adam
    lr: 0.1

  max_epochs: 50

  scheduler:
    _target_: torch.optim.lr_scheduler.StepLR
    step_size: 10
    gamma: 0.1

  loss:
    negative_samples: 1

analysis:
  checkpoint: 'last.ckpt'

  closest_pairs:
    enable: true
    max_words: 50
    pairs_per_word: 5

  visualize_embeddings:
    enable: true
    annotate: false
    max_words: 10_000

  semantics_test:
    enable: false

downstream:
  checkpoint: 'last.ckpt'

  node_classification:
    enable: true
    n_experiments: 10
    visualize: false
    split_algorithm:
      _target_: shallow_encoders.split.TrainTestRatioSplit
      train_ratio: 0.5

  edge_classification:
    enable: true
    operator_name: 'hadamard'
    train_ratio: 0.5
    n_experiments: 10