defaults:
  - w2v_config

model:
  _target_: shallow_encoders.word2vec.model.SkipGram
  embedding_size: 2
  max_norm: null
  # vocab_size - unknown until dataset is loaded

datamodule:
  dataset_name: 'graph_triplets'
  mode: 'sg'
  context_radius: 2
  max_length: 256
  min_word_frequency: 0
  additional_parameters:
    walks_per_node: 64
    walk_length: 5
    method: deepwalk

  batch_size: 64
  num_workers: 8

train:
  experiment: 'SG_exp01_baseline'
  accelerator: 'gpu'  # (cpu, gpu)
  devices: '1'

  optimizer:
    _target_: torch.optim.Adam
    lr: 0.01

  max_epochs: 50

  scheduler:
    _target_: torch.optim.lr_scheduler.StepLR
    step_size: 10
    gamma: 0.1

  loss:
    negative_samples: 1

analysis:
  checkpoint: 'last.ckpt'

  closest_pairs: true
  closest_pairs_per_word: 2
  visualize_embeddings: true
  semantics_test: false

downstream:
  checkpoint: 'last.ckpt'

  # node classification
  node_classification: true
  node_classification_train_ratio: 1.0
  node_classification_n_experiments: 10
  node_classification_visualize: true

  # Link classification
  edge_classification: true
  edge_operator_name: 'hadamard'
  edge_classification_train_ratio: 0.8
  edge_classification_n_experiments: 100