defaults:
  - w2v_config

model:
  _target_: shallow_encoders.word2vec.model.CBOW
  embedding_size: 2
  max_norm: 1.0
  # vocab_size - unknown until dataset is loaded

datamodule:
  dataset_name: 'abcde'
  mode: 'sg'
  context_radius: 1
  max_length: 256
  min_word_frequency: 0

  batch_size: 4
  num_workers: 8

train:
  experiment: 'CBOW_exp01_baseline'
  accelerator: 'gpu'  # (cpu, gpu)
  devices: '1'

  optimizer:
    _target_: torch.optim.Adam
    lr: 0.1

  max_epochs: 100

  scheduler:
    _target_: torch.optim.lr_scheduler.StepLR
    step_size: 50
    gamma: 0.1

  loss:
    negative_samples: 1

analysis:
  checkpoint: 'last.ckpt'

  closest_pairs: true
  closest_pairs_per_word: 3
  visualize_embeddings: false
  semantics_test: false